*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family:"Poppins", sans-serif;
}


body{
    /*background: rgb(77, 76, 76);*/
    background: rgb(73, 65, 57);
    color:white;
    overflow: hidden;
    overflow-y:scroll;
}