#intro{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.bg{
    width: 30%;
    z-index: 1;
}

.introContent{
    padding:2rem;
    font-size:3rem;
    font-weight: 700;
    display:flex;

    /*flex direction column display flex vertically*/
    flex-direction: column;
    justify-content: center; 
}


.introName{
    color:pink;
}

.introParagraph1{
    font-size:1.5rem;
    line-height: 1.2;
    font-weight:100;
}

.introParagraph2{
    margin-top: 10px;
    line-height: 1.3;
    font-size:1rem;
    font-weight:100;
}


.hello{
    font-size:1.75rem;
    font-weight:100;
}


@media screen and (max-width: 950px) {
    #intro{
        margin-top:120px;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;   
        margin-left: 5%;
        margin-right: 5%;
    } 

    
    #intro .introContent{
        align-items:center;
        text-align: center;
    }

    #intro .introContent button{
        margin-left:0;
        margin-top:1rem;
    }
   

    #intro .bg {
        align-items: center;
        width:50%;
        margin-bottom:2rem;
    }
    
}

@media screen and (max-width: 420px) {
    .introText{
        font-size:33px;
    }

}

.cv-button{
    margin-top:1.5rem;
    width:160px;
    height: 40px;
    color:pink;
    cursor:pointer;
    margin-left:35%;
}

