footer{
    background: rgba(121, 136, 181, 0.229);
    padding: 1rem;
  }
  
  
  footer section{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom: 20px;
    gap:3rem;
  
  }
  
  
  .contact-form form{
    max-width: 600px;
    display:flex;
    flex-direction:column;
    gap:12px;  
  }
  
  .contact-form input{
    background:rgba(255, 255, 255, 0.875);
    height: 40px;
    padding: 15px;
    border: none;
    border-radius: 2rem;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .contact-form textarea{
    height: 150px;
    padding: 15px;
    resize: none;
    background:rgba(255, 255, 255, 0.875);
    border: none;
    border-radius: 1rem;
  }
  
  .contact-form .button{
    width: 100px;
    height: 40px;
    background-color:var(--theme);
    padding-top:9px;
    margin-bottom: 36px;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .contact-form .button:hover{
    background-color: #2b20bf;
    cursor:pointer;
  }
  
  
  .footerTitle{
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom:20px;
    color: black;
    @media (max-width: 768px) {
      margin-top: 12px;
      font-size: 32px;
  }
  }
  
  .instaLogo{
    margin:1.5rem 0.5rem;
    width:50px;
    margin-bottom:0.5rem;
  
  }
  
  .msg{
    color: #24c624;
    font-size:13px;
  }

  .contact-info{
    font-size:15px;
    font-weight:600;
    margin-bottom: 20px;
  }

